QUESTION 1

In [89]:
# package imports

In [90]:
import csv

In [91]:
# code

In [148]:
def categorical_numerical(df):

    # dataframe is opened in 'read' mode;
    
    with open(f'{df}.csv', 'r') as csvfile: 

         # create a csv reader object;
        
        csv_reader = csv.DictReader(csvfile) 

        # create a dict with categories 
        # and the first row of their corresponding values;
        
        data_list = next(csv_reader) 

    # create empy lists to which each column will be categorized;
    
    numeric_columns = []
    categorical_columns = []        

    # iterate through rows...
    
    for i in data_list.values():
        try:
            
            # ...while casting {i} to a float value;
            
            float(i)

            # if {i == float value}, append {[key]} to {numeric_columns} list;
            
            numeric_columns.append(list(data_list.keys())[list(data_list.values()).index(i)])

        # elif: a ValueError exception is raised... 

            # ...cast the column to a string 
            #    value, and append to {categorical_columns} list;
        
        except ValueError:  
            str(i)
            categorical_columns.append(list(data_list.keys())[list(data_list.values()).index(i)])

    # a variable storing a multi-line string is created...
    
    ans = f'''
    the categorical columns consist of {categorical_columns}
    the numeric columns consist of {numeric_columns}
'''
    # ...and printed out to display these different types;
    
    print(ans)

In [149]:
# execution

In [150]:
categorical_numerical('Iris') # Iris Dataset

    the categorical columns consist of ['Species']
    the numeric columns consist of ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']

In [151]:
categorical_numerical('penguins_size') # Palmer Penguins Dataset

    the categorical columns consist of ['species', 'island', 'sex']
    the numeric columns consist of ['culmen_length_mm', 'culmen_depth_mm', 'flipper_length_mm', 'body_mass_g']

QUESTION 2

In [152]:
# package imports

In [153]:
import numpy as np 
import pandas as pd
import copy

In [154]:
# code

In [155]:
# read and import df1, df2 with pandas
    
df_iris = pd.read_csv('Iris.csv')
df_penguins = pd.read_csv('penguins_size.csv')

# nested function within parent function {pandas_numpy_func()}...
# accepts a variable defined within parent function as a parameter;

def corrcoef(df):

    # remove categorical columns from df;
    
    df = df.select_dtypes(include = np.number)

    # drop NaN values;
    
    df = df.dropna()

    # convert df to a dictionary;
    
    df = df.to_dict('list')

    # copy this dictionary with {CSV} module;
    
    df_dupe = copy.deepcopy(df)

    # create an empty dictionary to which the correlation
    # matrix will be appended;
    
    corrcoef_dict = {}

    # iterate through dataframe, calculating the correlation matrix 
    # with {np.corrcoef()} method;
    
    for i in df.values():
        for j in df_dupe.values():

            # skip iterations where {i} and {j} are equal 
            # to avoid appending invalid correlation matrix
            # values (i.e. {np.corrcoef('sepal length (cm)', 'sepal length (cm)')[0, 1]});
            
            if i != j:

                # append correlation matrix values and keys to a seperate dict;
                
                corrcoef_dict.update({f'{list(df.keys())[list(df.values()).index(i)]}, {list(df.keys())[list(df.values()).index(j)]}': np.corrcoef(i, j)[0, 1]})

    # find the maximum value in the seperate dict i.e. {max_coef_value}
    # and display this key / value pair
    
    max_coef_val = max(corrcoef_dict.items())
    print(f'the highest corrcoef value in this dataset is: {max_coef_val}')

# accepts parameters df1, df2 as {'filename.csv'}

def pandas_numpy_func(df1, df2):
    
    # concatenate df1, df2 across rows;
    
    df_concat = pd.concat([df1, df2], axis = 0)
    df_concat = df_concat.drop_duplicates()

    # print rows and columns;
    
    print(f'Row: Col:{df_concat.shape}')

    # pass both dataframes through {corrcoef()} function
    # seperately to generate correlation matrix
    # information for each dataframe;
    
    corrcoef(df1)
    corrcoef(df2)

In [137]:
# execution

In [138]:
pandas_numpy_func(df_iris, df_penguins)

Row: Col:(491, 12)
the highest corrcoef value in this dataset is: ('SepalWidthCm, SepalLengthCm', -0.1093692499506493)
the highest corrcoef value in this dataset is: ('flipper_length_mm, culmen_length_mm', 0.6561813407464281)

QUESTION 3

In [139]:
# package imports

In [140]:
import numpy as np

In [141]:
# generate a random NumPy array with 1000 elements

numpy_array = np.random.rand(1000) 

# generate a new array containing the original values of numpy_array
# divided into sub-arrays of 5

divided_array = np.split(numpy_array, 200)

# generate an empty list to which the mean values of each sub-array of numpy_array
# will be appended

datamean = []

In [142]:
# functions

In [143]:
# a function to find the mean of a given array;

def mean(array):
    
    mean = sum(array) / len(array) 

    # after which the mean value is then returned up the chain and stored;
    
    return(mean)  

# a function to store the mean values of each nested array {divided_array} within the parent array {numpy_array};

def array_mean_values(parent_array):

    # a for loop iterates through the parent array
    
    for nested_array in parent_array:  

        # and converts {nest_array} to its given mean value with {mean()} function
        
        nested_array = mean(nested_array)

        # which is stored in the {datamean} list
        
        datamean.append(nested_array)      

    return datamean

# a function to find the minimum value within a given array

def minimum(array):

    # the minimum variable defaults to the highest possible value
    
    minimum = np.inf  

    # a for loop iterates through the array;
    
    for i in range(0, len(array)): 

        # if the current iteration value is less than that of the current minimum variable...
        
        if array[i] < minimum:  

            # ...the previous minimum variable is replaced with the current iteration value;
            
            minimum = array[i]      
    
    ans = f'''[data]min: {minimum}'''

    # minimum value is printed out to the script...
    
    print(ans)  

    # ...and returned up the chain to be stored;
    
    return minimum   

# a function to find the maximum value within a given array;

def maximum(array):

    # functions the same as the minimum(array) function
    # only the maximum variable defaults to the lowest possible value;
    
    maximum = -np.inf   

    # and the for loop checks if the current iteration value is greater...
    
    for i in range(0, len(array)):  

        # ...than the current maximum variable value;
        
        if array[i] > maximum: 

            # the for loop will finish with the maximum variable storing
            # the highest value within the given array;
            
            maximum = array[i]      
    
    ans = f'''[data]max: {maximum}'''  
    
    print(ans)       
    return maximum   

def get_value_max(datamean_minimum, datamean_maximum):

    # this function generates the maximum absolute mean value
    # between {datamean_minimum, datamean_maximum}
    
    valuemax = max(abs(datamean_minimum), abs(datamean_maximum))

    print(f'[value]max: {valuemax}')
    
    return valuemax

# all of the above functions are wrapped within 
# {Q3_numpy_array()}

def Q3_numpy_array():

    numpy_array = np.random.rand(1000)
    divided_array = np.split(numpy_array, 200)
    datamean = []

    datamean = array_mean_values(divided_array)
    data_min = minimum(datamean)
    data_max = maximum(datamean)
    value_max = get_value_max(data_min, data_max)

In [144]:
# execution

In [145]:
Q3_numpy_array()

[data]min: 0.16730268938566417
[data]max: 0.8045172669473295
[value]max: 0.8045172669473295

QUESTION 4

In [ ]:
# package imports

In [147]:
import SQLite3

ModuleNotFoundError: No module named 'SQLite3'

QUESTION 5

In [ ]:
# imports

In [67]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets 
import matplotlib.pyplot as plt

In [68]:
# data loading / duplicate removal /  handle missing data / data reading

In [69]:
iris = datasets.load_iris()


df_iris = pd.DataFrame(iris.data, columns = iris.feature_names)

df_iris = pd.DataFrame(data = np.c_[iris['data'], iris['target']],
                  columns = iris['feature_names'] + ['target']).astype({'target': int}) \
       .assign(species = lambda x: x['target'].map(dict(enumerate(iris['target_names']))))

df_iris.drop_duplicates()

df_iris = df_iris.drop('species', axis = 'columns')

df_iris.rename(columns = {'target': 'species'}, inplace = True)

missing = df_iris.isnull()

missing

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
145,False,False,False,False,False
146,False,False,False,False,False
147,False,False,False,False,False
148,False,False,False,False,False
149,False,False,False,False,False

In [70]:
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [71]:
df_iris.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

In [72]:
df_iris.tail(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
140,6.7,3.1,5.6,2.4,2
141,6.9,3.1,5.1,2.3,2
142,5.8,2.7,5.1,1.9,2
143,6.8,3.2,5.9,2.3,2
144,6.7,3.3,5.7,2.5,2
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [73]:
# data summary

In [74]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [75]:
# general important values

In [76]:
df_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [77]:
# check for unique values and generate table to display findings

In [78]:
unique = df_iris.nunique()

unique

sepal length (cm)    35
sepal width (cm)     23
petal length (cm)    43
petal width (cm)     22
species               3
dtype: int64

In [79]:
# a function to sort the dataset based on desired row in descending or ascending order

In [85]:
def sort_df(df, row, ascending_TF):
    df = df.sort_values(by = f'{row}', ascending = bool(f'{ascending_TF}'))
    return df

df_sorted = sort_df(df_iris, 'petal length (cm)', True)

df_sorted

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
22,4.6,3.6,1.0,0.2,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0
35,5.0,3.2,1.2,0.2,0
36,5.5,3.5,1.3,0.2,0
...,...,...,...,...,...
131,7.9,3.8,6.4,2.0,2
105,7.6,3.0,6.6,2.1,2
117,7.7,3.8,6.7,2.2,2
122,7.7,2.8,6.7,2.0,2
118,7.7,2.6,6.9,2.3,2

In [ ]:
# data visualisation

In [ ]:
# data grouping